.app {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(33, 33, 189);
}

.navbar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 17rem; */
  background-color: white;
}

.heading-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-heading {
  font-size: 2.5rem;
  color: rgb(33, 33, 189);
  /* font-family: "Roboto"; */
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-link {
  font-size: 1rem;
  text-decoration: none;
}

.navbar-link:visited {
  color: black;
}

.navbar-link:hover {
  color: #0000ff;
  text-shadow: 0px 0px 15px gray;
}

.shopping-cart-container {
}

.shopping-cart-icon {
  width: 20px;
  height: 20px;
}

.shopping-cart-icon:hover {
  cursor: pointer;

  filter: invert(15%) sepia(54%) saturate(4814%) hue-rotate(237deg)
    brightness(96%) contrast(110%);
}

.shopping-cart-count {
}

.contact {
  background-color: #2121bd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  height: 85vh;
}

.social-media-container {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.media-link {
}

.media-icon {
  width: 45px;
  height: 45px;
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(211deg) brightness(109%)
    contrast(101%);
}

.media-icon:hover {
  filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(287deg) brightness(93%)
    contrast(98%);
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-icon {
  width: 45px;
  height: 45px;
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(211deg) brightness(109%)
    contrast(101%);
}

.contact-icon:hover {
  filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(287deg) brightness(93%)
    contrast(98%);
}

.contact-text {
  color: white;
  text-decoration: none;
}

.contact-text:visited {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.poster-container {
  width: 90%;
  margin-top: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-poster {
  width: 90%;
}

.home-shop-btn {
  text-decoration: none;
  color: rgb(33, 33, 189);
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 94%;
}

.home-shop-btn:visited {
  color: rgb(33, 33, 189);
}

.home-shop-btn:hover {
  filter: brightness(95%);
}

@media only screen and (min-width: 600px) {
  .site-heading {
    font-size: 3rem;
  }

  .navbar-link {
    font-size: 1.25rem;
  }

  .media-icon {
    width: 55px;
    height: 55px;
  }

  .contact-icon {
    width: 55px;
    height: 55px;
  }

  .contact-text {
  }

  .home-poster {
    width: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    flex-direction: row;
  }

  .heading-container {
    justify-content: flex-start;
  }

  .site-heading {
    font-size: 3.25rem;
  }

  .navbar-link {
    font-size: 1.5rem;
  }

  .media-icon {
    width: 65px;
    height: 65px;
  }

  .contact-icon {
    width: 55px;
    height: 55px;
  }

  .contact-text {
  }

  .home-poster {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .home-poster {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
}
